<div class="login-container" style="background: url('/admin-login.jpeg') no-repeat center center fixed; background-size: cover;">
    
    <div class="login-card">
        
        <h2>Admin Login</h2>
        <form (ngSubmit)="login()">
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="mb-3 input-group">
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()">👁</button>
            </div>
            <button type="submit" class="btn btn-login w-100">Login</button>
            <a href="#" class="forgot-password">Forgot Password?</a>
        </form>
        </div>
    </div>

