<!-- Navigation Bar -->
<div class="bg">
  <section class="hero">
    <div class="overlay"></div>
    <div class="container text-center text-white">
      <h1 class="display-4 fw-bold">Welcome To,<br>Beyond Engineering Designs</h1>
      <p class="lead">
        IT | Mechanical | Electrical | Civil | Embedded <br>
        Enhance your skills & stand out from the crowd
      </p>
      <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-outline-light me-3 px-4 py-2 fw-bold custom-btn" routerLink="/admin-login">ADMIN</a>
        <a class="btn btn-outline-light px-4 py-2 fw-bold custom-btn" routerLink="/form-enquiry">FOR ENQUIRY</a>
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary px-5 py-3 fw-bold shadow-lg explore-btn">Explore Courses</button>
    </div>
  </section>
</div>
